examples/spark-dht-xively/spark-dht-xively.json
[{"id":"22740390.dd8bfc","type":"SparkCore in","coreid":"core.ha","accesstoken":"e818e848d3fa7bbe84c27bd94e76cbba5dcc36ff","method":"subscribe","fve":"dhtvalue","param":"","repeat":10,"x":192,"y":143,"z":"f13c3fd5.0ec3c","wires":[["7d379a12.82c864","e3c6ba3f.1c3948","5b10a3c3.a4ef5c"]]},{"id":"7d379a12.82c864","type":"function","name":"Temperature","func":"var data = JSON.parse(msg.payload);\n\nvar tMsg = { \n\tpayload: data.t,\n\tid_data: \"Temperature\"\n};\n\nreturn tMsg","outputs":1,"x":395,"y":163,"z":"f13c3fd5.0ec3c","wires":[["bc725364.438db"]]},{"id":"bc725364.438db","type":"xively","name":"Xively Temperature","feed_id":"","api_key":"","id_data":"","x":623,"y":133,"z":"f13c3fd5.0ec3c","wires":[]},{"id":"e3c6ba3f.1c3948","type":"function","name":"Humidity","func":"var data = JSON.parse(msg.payload);\n\nvar tMsg = { \n\tpayload: data.h,\n\tid_data: \"Humidity\"\n};\n\nreturn tMsg","outputs":1,"x":383,"y":123,"z":"f13c3fd5.0ec3c","wires":[["bc725364.438db"]]},{"id":"5b10a3c3.a4ef5c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":195,"y":271,"z":"f13c3fd5.0ec3c","wires":[]}]